/* color palette
#ff598f	 pink
#fd8a5e	 oragne
#e0e300	 green
#01dddd	 torquise
#00bfaf  blue
#eff17f light green
*/

/*BODY*/
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: monospace;
    font-size: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:#ffacec;
  }
  

/* HEADER */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 6rem;
    /*color: black;*/
    background-color: lightpink;
    /*background-image: linear-gradient(180deg, #fdb89e, #eff17f
    );*/
}

.titles {
    text-align: left;
}

.name {
  /*font-family: 'Rock Salt', cursive;*/
  font-family: 'Rubik Doodle Shadow', system-ui;
  /*text-shadow: 2px 2px 4px #ff598f;*/
  font-size: 4rem;
  padding: none;
}

.titles h1 {
  margin: 0; 
}

.titles h2 {
  margin: 0; 
  font-size: 1.4rem; 
}


/*NAVBAR*/
nav {
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-family: 'Coming Soon', cursive;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
  display: block;
}

nav a:hover {
  color: #00bfaf;
}


/* HOME PAGE */

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
  
/* Sidebar/left column */
.side {
  flex: 0 0 20%;
  padding: 30px;
  text-align: center;
  background: #ffacec; 
}

/* Main column */

.main {
  flex: 1;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  background-color: #ffacec;
  border-radius: 8px;
  /*box-shadow: 10px 10px #e0e300;*/
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-right: 4rem;
}

/* social icons */
.social-icons {
  display: flex;
  gap: 10px;
  justify-content: center; 
  padding-top: .5rem;
}

.social-icons a {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  color: #333;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #00bfaf;
  transform: scale(1.2);
}

.sideImg {
 border-radius: 8px;
 box-shadow: 8px 8px 0 0  #00bfaf; 
}

.aqua-text {
  color: #00bfaf;
  font-weight: bolder;
}

.handwritten {
  font-family: 'Coming Soon', cursive;
  font-size: 1rem;
}

/*RESUME PAGE*/
.resume {
  flex: 1;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 8px 8px lightgray;
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-right: 4rem;
   /* Add scroll bar */
   max-height: 600px; /* Set the maximum height for the container */
   overflow: auto; /* Add a scroll bar when content overflows the container*/
   scrollbar-width: thin; /* For Firefox */
   scrollbar-color: #00bfaf #f5f5f5;
}

.resume::-webkit-scrollbar {
  width: 8px;
}

.resume::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

.resume::-webkit-scrollbar-thumb:hover {
  background-color: #ff598f;
}

.resume::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}


/*PROJECTS PAGE*/
/* Basic styles for the cards */

.card {
  display: inline-block;
  width: 300px;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 8px 8px lightgray;
  border-radius: 8px;
  margin: 10px;
}

.card-content {
  padding: 10px;
}

.card-content h2 {
  margin: 0;
  font-size: 20px;
}

.card-content p {
  margin: 0;
}

.projectcontainer {
  display: flex; 
}

.cards-container {
  flex: 1; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-start; 
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}


.handwritten {
  font-family: 'Coming Soon', cursive;
  font-size: 2rem;
}



